<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>The Epidemic Curve</title>
</head>

<body>
    <div class="container">
        <div class="row text-center">
            <h1 class="display-4 mt-2 mx-auto">Epidemic Curves</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <canvas id="delhiChart" width="100" height="100"></canvas>
            </div>
            <div class="col-md-6">
                <canvas id="gujChart" width="100" height="100"></canvas>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            What is the curve?
                        </h4>
                        <p class="lead">The "curve" researchers are talking about refers to the projected number of
                            people who will contract COVID-19 over a period of time. (To be clear, this is not a hard
                            prediction of how many people will definitely be infected, but a theoretical number that's
                            used to model the virus' spread.)</p>
                        <p class="lead">The curve takes on different shapes, depending on the virus's infection rate. It
                            could be a steep curve, in which the virus spreads exponentially (that is, case counts keep
                            doubling at a consistent rate), and the total number of cases skyrockets to its peak within
                            a few weeks. Infection curves with a steep rise also have a steep fall; after the virus
                            infects pretty much everyone who can be infected, case numbers begin to drop exponentially,
                            too. </p>
                        <p class="lead">The faster the infection curve rises, the quicker the local health care system
                            gets overloaded beyond its capacity to treat people. As we're seeing in Italy, more and more
                            new patients may be forced to go without ICU beds, and more and more hospitals may run out
                            of the basic supplies they need to respond to the outbreak. </p>
                        <p class="lead">A flatter curve, on the other hand, assumes the same number of people ultimately
                            get infected, but over a longer period of time. A slower infection rate means a less
                            stressed health care system, fewer hospital visits on any given day and fewer sick people
                            being turned away. </p>
                        <br>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item"
                                src="https://www.youtube.com/embed/fgBla7RepXU?start=1" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

    <script>
        let dates, infected;
        $(function () {
            $.ajax({
                url: '/getData',
                type: 'GET',
                success: function (response) {
                    delhi_dates = response['delhi_dates'];
                    delhi_infected = response['delhi_infected'];

                    var ctx = document.getElementById('delhiChart');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: delhi_dates,
                            datasets: [{
                                label: 'Number of Infected People',
                                backgroundColor: 'rgba(220, 20, 60, 0.5)',
                                data: delhi_infected,
                            }]
                        },
                        options: {
                            responsive: true,
                            title: {
                                display: true,
                                text: 'Delhi',
                            },
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }],
                                xAxes: [{
                                    ticks: {
                                        display: false
                                    }
                                }]
                            }
                        }
                    });

                    gujarat_dates = response['gujarat_dates']
                    gujarat_infected = response['gujarat_infected']

                    var ctx = document.getElementById('gujChart');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: gujarat_dates,
                            datasets: [{
                                label: 'Number of Infected People',
                                backgroundColor: 'rgba(220, 20, 60, 0.5)',
                                data: gujarat_infected,
                            }]
                        },
                        options: {
                            responsive: true,
                            title: {
                                display: true,
                                text: 'Gujarat',
                            },
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }],
                                xAxes: [{
                                    ticks: {
                                        display: false
                                    }
                                }]
                            }
                        }
                    });

                },
                error: function (error) {
                    console.log(error);
                }
            })
        });


    </script>
</body>

</html>